@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>
        <img   src="~/icon.jpg">
        Bienvenido a Digital Identity
    </h1>

    <ul>
        <li>
            Este proyecto esta basado en  <a href="https://identityserver4.readthedocs.io/" target="_blank">IdentityServer4</a> <small class="text-muted">(Versi&oacute;n @version)</small>
        </li>
        <li>
            Digital Identity publica un
            <a href="~/.well-known/openid-configuration">documento de auto-descubrimiento</a>
            donde se pueden encontrar metadatos, Urls a todos los endpoints de OpenId Connect y llaves p&uacute;blicas de cifrado.
        </li>
        <li class="text-muted">
            <i>(Solo visible en Desarrollo)</i>
        </li>
        <li>
            Haga click <a href="~/diagnostics">aqu&iacute;</a> para ver todos los claims de la sesi&oacute;n actual.
        </li>
        <li>
            Haga click <a href="~/grants">aqu&iacute;</a> para ver los permisos otorgados.
        </li>
    </ul>
</div>
