@model LogoutViewModel

    <div class="logout-page col-sm-6">
        <h1>Cerrar sesión</h1>
        <div class="card">
            <div class="card-header">
                <div class="lead">
                    <p>¿Está seguro que desea cerrar sesión?</p>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <div class="form-group">
                        <button class="btn btn-primary">Si</button>
                    </div>
                </form>
            </div>
        </div>



    </div>
